*{
    padding: 0%;
    margin: 0%;
}

.firstContainer {
    width: 200px;
    height: 200px;
    background-color: red;
}

.secondContainer {
    width: 200px;
    height: 200px;
    background-color: rgb(1, 7, 46);
}